*{
    margin: 0;
    display: border-box;
}

section figcaption {
    font-size: 10px;
}

section{
    margin: 20px 0;
}

thead{
    background-color: rgb(0, 162, 255);
    color: white;
}

.background-pattern {
    background-image: url(../img/pattern.png);
    background-color:rgb(54, 163, 231);
    background-size: 240px;
    height: 60px;
    
}

.logo { 
    margin-top: 30px;
    width: 100px;
}

.write-by {
    color: rgb(148, 148, 148);
}

.blue-write {
    color:rgb(34, 179, 252);
}

.data {
    font-size: 10px;
    color: rgb(148, 148, 148);
}

.unordered-list { 
    padding-left: 20px;
}

.blue {
    background-color: rgb(184, 237, 255);
}

.footer-write {
    margin-top: 20px;
    margin-left: 5px;
    color: rgb(148, 148, 148);
    font-weight: 600;
}


.footer-image {
    height: 140px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 5px;
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.first.footer-image {
    background-image: url(../img/monitor.jpg);
}

.second.footer-image {
    background-image: url(../img/graph.jpg);
}

